RewriteEngine On

# Remove .php extension for direct page links
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)$ $1.php [L,QSA]

# Tutorials
RewriteRule ^tutorial/([^/]+)/([^/]+)/?$ tutorial.php?group=$1&topic=$2 [L,QSA]
RewriteRule ^tutorial/([^/]+)/?$ tutorial-landing.php?group=$1 [L,QSA]

# Blogs
RewriteRule ^blogs/([a-zA-Z0-9\-]+)$ blog.php?slug=$1 [L,QSA]
RewriteRule ^blogs$ blogs.php [L]

# Contact Page
RewriteRule ^contact/?$ contact.php [L,QSA]
